{% extends "base.html" %}

{% block content %}
<p>
<h1 align="center">{{user.name}}</h1>
<div>
    О себе:
    {{user.about}}
</div>
</p>
<h2 align="center">Рецепты</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for item in recipes%}
    <div align="center" class="col-md6 border rounded">
        <h2>{{item.title}}</h2>
        <div>
            Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
        <a href="/recipe/{{item.id}}">Перейти к рецепту</a>
    </div>
    {% endfor %}
    {% block button %}
    {% endblock %}
    <p align="left"><a class="btn btn-primary " href="/">На главную</a></p>
</form>
{% endblock %}