{% extends "base.html" %}

{% block content %}
<h1>Добавление рецепта</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.Title.label }}<br>
        {{ form.Title(class="form-control") }}<br>
        {% for error in form.Title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.Ingridients.label }}<br>
        {{ form.Ingridients(class="form-control") }}<br>
        {% for error in form.Ingridients.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.Text.label }}<br>
        {{ form.Text(class="form-control") }}<br>
        {% for error in form.Text.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}